<?xml version="1.0"?>
<launch>

  <arg name="world_file"
       default="$(find assignment2)/worlds/empty.world"/>

  <arg name="base"
       value="$(optenv TURTLEBOT_BASE kobuki)"/> 
  <!-- create, roomba -->

  <arg name="battery"
       value="$(optenv TURTLEBOT_BATTERY /proc/acpi/battery/BAT0)"/>
  <!-- /proc/acpi/battery/BAT0 --> 

  <arg name="stacks"
       value="$(optenv TURTLEBOT_STACKS hexagons)"/>
  <!-- circles, hexagons --> 

  <arg name="3d_sensor"
       value="$(optenv TURTLEBOT_3D_SENSOR kinect)"/>
  <!-- kinect, asus_xtion_pro --> 

  <param name="floor" textfile="$(find assignment2)/urdf/floor.urdf" />
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="world_name" value="$(arg world_file)"/>
    <arg name="gui" value="false"/>
  </include>
  
  <include file="$(find assignment2)/launch/view_robot.launch"/>

  <include file="$(find turtlebot_gazebo)/launch/includes/$(arg base).launch.xml">
    <arg name="base" value="$(arg base)"/>
    <arg name="stacks" value="$(arg stacks)"/>
    <arg name="3d_sensor" value="$(arg 3d_sensor)"/>
  </include>
  
  <node pkg="robot_state_publisher" 
	type="robot_state_publisher"
	name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>
  
</launch>
